@import url(/css/_reset.css);
@import url(/CSS/components/header.css);
@import url(/CSS/components/banner.css);
@import url(/css/components/products.css);
@import url(/css/components/footer.css);

.container {
    font-family: 'Raleway', sans-serif;
}


@media screen and (min-width: 1200px) {
    .container {
        padding-right: calc((100% - 1136px)/2);
        padding-left: calc((100% - 1136px)/2);
    }
    
}