@import url(reset.css);
@import url(header.css);
@import url(banner.css);
@import url(products.css);
@import url(footer.css);
@import url(icons.css);
@import url(login.css);
@import url(product-page.css);
@import url(all-products.css);
@import url(add-product.css);

i {
    font-size: 1.5rem;
}

input, textarea {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
}

.container {
    font-family: 'Raleway', sans-serif;
}


@media screen and (min-width: 1200px) {
    .container {
        padding-right: calc((100% - 1136px)/2);
        padding-left: calc((100% - 1136px)/2);
    }
    
}