@import url(reset.css);
@import url(header.css);
@import url(banner.css);
@import url(products.css);
@import url(footer.css);
@import url(icons.css);

i {
    font-size: 1.5rem;
}


.container {
    font-family: 'Raleway', sans-serif;
}


@media screen and (min-width: 1200px) {
    .container {
        padding-right: calc((100% - 1136px)/2);
        padding-left: calc((100% - 1136px)/2);
    }
    
}