.section__products {
    padding: 0.5rem;
}

.section__products-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__product {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 48%;
}

.section__product:nth-child(5), .section__product:nth-child(6) {
    display: none;
}

.section__products-name {
    font-size: 22px;
    font-weight: bold;
    color: #464646;
}

.section__products-link {
    font-size: 14px;
    font-weight: bold;
    color: #2a7ae4;
}

.section__products-list {
    padding: 1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem 0rem;
}

.section__product-img {
    width: 100%;
}

.product__name {
    font-size: 14px;
    font-weight: 500;
    color: #464646;
}

.product__price {
    font-size: 16px;
    font-weight: bold;
    color: #464646;
}

.product__list-link {
    font-size: 14px;
    font-weight: bold;
    color: #2a7ae4;
}

@media screen and (min-width: 768px) {
    .section__products {
        padding: 1rem 2rem;
    }

    .section__product {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 23%;
    }
}

@media screen and (min-width: 1200px) {
    .section__products {
        padding: 0rem;
        padding-top: 4rem;
    }

    .section__products-name {
        font-size: 32px;
        font-weight: bold;
        color: #464646;
    }
    
    .section__products-link {
        font-size: 16px;
        font-weight: bold;
        color: #2a7ae4;
    }
    
    .product__list-link {
        font-size: 16px;
        font-weight: bold;
        color: #2a7ae4;
    }

    .section__product {
        width: 16%;
    }

    .section__product:nth-child(5), .section__product:nth-child(6) {
        display: inline;
        gap: .5rem;
    }
}