.hero__banner {
    color: white;
    padding: 1rem;
    height: 25vh;
    background-image: url(/assets/img/banner.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
}

.banner__title {
    font-size: 22px;
    font-weight: bold;
}

.banner__text {
    font-size: 14px;
    font-weight: 600;
}

.banner__button {
    width: 7.5rem;
    background-color: #2A7AE4;
    font-size: 14px;
    font-weight: 600;
    padding: .75rem 1rem;
}

@media screen and (min-width: 768px) {
    .hero__banner {
        padding: 1rem 2rem;
        height: 35vh;
    }

    .banner__title {
        font-size: 52px;
        font-weight: bold;
    }
    
    .banner__text {
        font-size: 22px;
        font-weight: 600;
    }
}

@media screen and (min-width: 1200px) {
    .hero__banner {
        height: 30vh;
    }

    .banner__button {
        width: 9.3rem;
        font-size: 16px;
        padding: 1rem 1rem;
        text-align: center;
    }
}



/* Pc parte
.hero__banner {
        font-family: Raleway;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        background-image: url(/assets/img/banner.jpg);
        height: 50vh;
        color: white;
        background-position: center;
        background-size: cover;
        gap: 8px;
        padding: 2rem 9.5rem;
    }

.banner__title {
    font-size: 52px;
    font-weight: bold;
}

.banner__text {
    font-size: 22px;
    font-weight: bold;
}

.banner__button {
    font-size: 1rem;
    font-weight: 400;
    background-color: #2A7AE4;
    padding: 1rem;
    width: 10rem;
    height: 3rem;
    text-align: center;
}


/*Para tablets e telas menores*
@media screen and (min-width: 768px) {
    .hero__banner {
        padding: 2rem 0rem;
        height: 40vh;
    }
}   


/*Para celular*
@media screen and (min-width: 360px) {
    .hero__banner {
        padding: 1rem;
        height: 25vh;
    }

    .banner__title {
        font-size: 22px;
        font-weight: 700;
    }
    
    .banner__text {
        font-size: 14px;
        font-weight: 600;
    }

    .banner__button {
        width: 119px;
        height: 40px;
        font-size: 14px;
        text-align: center;
        padding: 0.75rem 1rem;
    }
}   