.footer_infos {
    padding: 1rem;
    background-color: #EAF2FD;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer__logo {
    width: 11rem;
    height: 3.125rem;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 16px;
    font-weight: 500;
    color: #464646;
    text-align: center;
}

.form__footer {
    padding-bottom: 1rem;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    padding-top: 1rem;
    width: 100%;
}

.form__footer-username {
    border-radius: 5px 5px 0 0;
    padding: 1rem .75rem;
    box-shadow: RGBA(0,0,0,0.30);
}

.form__footer-message {
    border-radius: 5px 5px 0 0;
    padding: 1rem .75rem;
    box-shadow: RGBA(0,0,0,0.30);
}

.form__footer-button {
    background-color: #2A7AE4;
    text-align: center;
    padding: .75rem 1rem;
    color: white;
    font-size: 14px;
    font-weight: 600;
    width: 9.5rem;
    height: 2.5rem;
}

.footer__info {
    width: 100vw;
    background-color: white;
    text-align: center;
    padding: 2rem 4rem;
}

@media screen and (min-width: 768px) {
    .footer_infos {
        height: 325px;
        padding: 1rem 2rem;
        background-color: #EAF2FD;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .footer__nav-list {
        text-align: left;
    }
    
    .form__footer {
        padding-bottom: 1rem;
        display: flex;
        gap: .5rem;
        flex-direction: column;
        padding-top: 1rem;
        padding-left: 2rem;
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .footer_infos {
        margin-top: 4rem;
        padding-top: 4rem;
        background-color: #EAF2FD;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
        height: auto;
        justify-content: space-between;
    }

    .form__footer {
        padding-bottom: 1rem;
        display: flex;
        gap: .5rem;
        flex-direction: column;
        padding-top: 0rem;
        padding-left: 2rem;
        width: 60%;
    }
}

/*
footer {
    margin-top: 2rem;
    background-color: #EAF2FD;
    font-family: Raleway, open sans;
}

.footer_infos {
    padding: 2rem 0rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 7rem;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    font-weight: 500;
    font-size: 16px;
}

.form__footer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
}

.form_footer-title {
    font-size: 1rem;
    font-weight: bold;
    color: #464646;
}

.form__footer-username {
    padding: 1rem 0.75rem;
    font-size: 1rem;
    color: #464646;
}

.form__footer-message {
    padding: 1rem 0.75rem;
    font-size: 1rem;
    color: #464646;
}

.form__footer-button {
    width: 11rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #2A7AE4;
    text-align: center;
    padding: 1rem;
    color: white;
    margin-top: 0.5rem;
}

.footer__info {
    width: 100vw;
    right: 0;
    padding: 1rem 0rem;
    background-color: white;
    text-align: center;
}


/*Para tablets e telas menores*
@media screen and (min-width: 768px) {
    .footer_infos {
        display: flex;
        height: 365px;
        padding: 2rem 2rem;
        flex-direction: column;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .form__footer {
        width: 70%;
        padding-left: 3rem;
    }
}

/*Para celular*
@media screen and (min-width: 360px) {
    .footer_infos {
        display: flex;
        padding: 1rem;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer__nav-list {
        text-align: center;
    }

    .form__footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;
    }

    .footer__info {
        padding: 2rem 4rem;
    }
}